.container{
    width: 70%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: auto;
}
.main{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.rightPart{
  width:45%;


}
.leftPart{
  width: 45%;
}
.headingSignup{
    font-size: 28px;
    font-weight: 700;
}