.maintext{
  width: 95%;
  margin: auto;
  line-height: 25px;
}
.heading1{
  font-size: 1.15rem;
  font-weight: 600;
  margin-top: 20px;
  
}
.lowerheading1{
  font-size: 1rem;
  font-weight: 600;
  margin-top: 15px;
}
.p{
  color: #666;
  margin-top: 10px;
}
.bold{
  font-weight: 600;
}